@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darkbg text-gray-300 font-sans antialiased;
    background-image: radial-gradient(circle at center, #1a1a1a 1px, transparent 1px);
    background-size: 24px 24px;
  }
}

html {
  scroll-behavior: smooth;
}
